/*General formatting for content */
#Center-Text-Column-wrapper {
    position:relative;
    top: 105px;
    clear: both;
    width: 100%;
    display: block;
    margin-top: 0;
    background-color: #FFFFFF;
}

p {
	margin-top:0;
	margin-bottom:1rem;
}

.Center-Text-Column {
    position: relative;
    clear: both;
    width: 80%;
    min-width: 800px;
    max-width: 1024px;
    margin: auto;
}

.Textbox {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 1.0rem;
}

.Textbox-Left {
    width:50%;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 1.0rem;
    float: left;    
}

.Textbox-Right {
    width:50%;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 1.0rem;
    float: right;   
}

.TextContent p {
    text-align: left;
    vertical-align: baseline;
    font-size: 1.0rem;
    font-family: roboto, sans-serif;
	color: #141823;;
    margin-bottom: 1.2rem;
}

.TextContent h1 {
    font-size: 3.125rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;    
	color: #3399ff;
	text-align: left;
}

.TextContent h2 {
	font-size: 2.25rem;
    line-height: 1.6;
    text-align: left;
	color: #141823;;
}

/*Accordion box formatting*/
/*Accordion panel heading text formatting*/
.panel-heading h4 {
	padding-top: .5rem;
	padding-bottom: .17rem;
	margin: 0;
	font-weight: 500;
	line-height: 1.1;
	font-size: 1.25rem;
	overflow:hidden;
	text-align: justify;
	direction: ltr;
}

.Summary-Box {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    margin: auto;
    width: 85%;    
    border: 1.5px solid black;
    border-left: 10px solid  #006838;
    text-align: center;
    display: block;
    border-radius: 0.2rem; /* Rounded corners */
    /*background-color: #006838;*/
    background-color:#e7f4fa;
    margin-bottom:20px;
}

.Summary-Box p {    
    font-size: 1.0rem;
    font-weight:bold;    
}

.Summary-Box-Title {
    margin-top:0px;
    margin-bottom:0px;
}

.Summary-Box-Title h4 {
    margin-top:0;
    margin-bottom:0;
    font-weight:bold;
    text-align:left;
}

.Citations li{
	font-size: 0.7rem;
	
}

/*All results specific divs*/

/*Set all H types in 'Results' to the correct font size*/

.Results h1 {
  font-size: 3.125rem;
  margin-top:10px;  
  margin-bottom:10px;
  text-align:center;
}

.Results h2 {
  font-size: 2.25rem;
  border-bottom: 1px solid #aaa;
  margin-top:10px;  
  margin-bottom:10px;
}

.Results h3 {
  font-size: 1.75rem;
  margin-top:10px;
}

.Results h4 {
  font-size: 1.25rem;
}

.Results h5 {
  font-size: 1.0rem;
}


.figure-center {
	width:75%;
	margin: 0 auto;
    text-align: center;
}

.figure-bordered-center {
	width:75%;
	margin: 0 auto;
	border: 1px solid #000000;	
}

.figure-center-imagebox {    
	 margin:12px;		
}

.figure-bordered-center-imagebox {
    margin:12px;
    border: 1px solid #000000;			
}

.figure-center-img {
    width:100%;
	display: block;
}

.figure-center-caption {
	margin:12px;
}

.figure-bordered-center-caption {
	margin:12px;
    border: 1px solid #000000;	
}

.figure-fullwidth {
    width:100%;
	margin: 0 auto;
    text-align: center;
}


.figure-center-accordion {
	width:100%;
	margin: 0 auto;
    text-align: center;
    }


.bullet-points {
    list-style-position: inside;
}

/*Bootstrap accordion formatting*/
#accordion {
	box-sizing: border-box;
    
}

/*Flow chart navigation */
.Results-Flow-Nagivation {
	width:100%;
	display: table;
}

.col-lg-4 {
    text-align: center;
}


.btn {
	width:50%;
	margin-bottom:0.25rem;
	display: table-cell;	
}

.btn-current {
	cursor:default;
}

.btn-current:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}


/* Media css formatting to change default rules when screen gets rezised */
/*Mobile devices*/
@media (max-width: 800px) {
	
	#Center-Text-Column-wrapper {
		top:40px;
		left:0;
	}
	
	/*General formatting, making it smaller*/
	.Center-Text-Column {
		min-width: 0px;
	}		
}
