/*Override default CSS*/

#MobileMenu {
	display:none;
	bottom: 0;
	left: 0;
	width:100%;
	height:100%;
	position:fixed;
	overflow:hidden;
    z-index: 1;
}

#sideMenu, #top_title {
    display: none;
}

#content {
    padding: 0px;
    width: 100%;
    margin-top: -7px;
    margin-left: 0px;
    background-color: transparent;
}


/* set all basic objects to neutral formatting, removes all padding, margins, etc and sets the fontsize to 100%*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: roboto, sans-serif;	
}

 h1,h2,h3,h4,h5,h6 {
  color:black;
  background:none;
  font-weight:normal;
  margin:0;
  overflow:hidden;
  padding-top:.5rem;
  padding-bottom:.17rem;
}

p {
	line-height:1.5;
    margin-top:20px;
	margin-bottom:20px;
	font-size: 1.0rem;	
}

h1 {
  font-size: 3.125rem;  
  margin-bottom:20px;
  text-align:center;
}

h2 {
  font-size: 2.25rem;
  border-bottom: 1px solid #aaa;
  margin-bottom:20px;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-weight: bold;
  font-size: 1.0rem;
}

/* set page to fill window*/

html {
    overflow-y: scroll; /*always show scroll bar*/
    /*height: 100%;*/
}

body {
    /*min-height: 100%;*/
    background-color: #FFFFFF;
}

html, body, #GlobalWrapper {
    padding: 0;
    margin: 0;
    height: 100%;
	z-index: 1;
}

#GlobalWrapper {
	position:relative;
	height:auto;
    top: 0;	
    background-color: #FFFFFF;
}

#MainMenu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 105px;
	z-index: 2;
}

#TopMenu {
    height: 65%;
    width: 100%;
    background-color: #3e8ba5;
}

#TopMenuButtonWrapper {
    position: fixed;
    width: 65%;
    height: 68px;
    top: 0;
    right: 0;
}

#TopMenuButtonWrapper ul {
    list-style: none;
    height: 100%;
}

#TopMenuButtonWrapper ul li {
    display: inline;
    float: left;
    text-decoration: none;
}

#TopMenuButtonWrapper ul li a {        
    height:50%;
    margin-top:22.5px;
    padding-right: 32px;
    display: flex;
    align-items: center;
	color:white;
    /*line-height: 100px;	*/
}

#TopMenuButtonWrapper ul li  a:hover, a:active {
	/*color: #ECEBEC; color doesn't look nice for hover only*/
	text-decoration: none;
}

/*#TopMenuButtonWrapper ul li a:hover{	
	background-color:#ffdae9;	

}*/

.nav-item {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.project-li {
    /*width: 10%*/
}

.wet-lab-li {
    /*width: 10%*/
}

.model-li {
    /*width: 9%*/
}

.human-practices-li {
    /*width: 20%*/
}

.application-li {
    /*width: 20%*/
}

.notebook-li {
    /*width: 13%*/
}

.team-li {
    /*width: 9%*/
}

#SubMenu {
    height: 35%;
    width: 100%;
    /*background-color: #ffdae9;*/
    /*color gradient*/
	background-color:#FFFFFF;
    /*background: -moz-linear-gradient(left, #ffdae9, #ffdae9, white, white, white, white, #ffdae9); For Firefox 3.6 to 15 */
}

#SubMenuButtonWrapper {
    position: fixed;
    height: 36.75px;
    width: 65%;
    top: 68px;
    right: 0;
}

#SubMenuButtonWrapper ul {
    list-style: none;
    height: 100%;
}

#SubMenuButtonWrapper ul li {
    float: left;
}

#SubMenuButtonWrapper ul li a {
    padding-right: 30px;
    /*display:block;*/
    height: 36.75px;
    /*line-height: 36px;	*/	
	color:black;
    display: flex;
    align-items: center;
}

#SubMenuButtonWrapper ul li a:hover, a:active {
	color: black;
	text-decoration: none;
}

/*Formatting for all main menu elements*/
.sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.description-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.design-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.summary-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.achievements-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.results-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.parts-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.demo-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.kinetics-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.qs-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.integration-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.integrated-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.safety-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.outreach-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.future-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.rollout-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.device-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.collaboration-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.protocols-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.interlab-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.members-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

.attributions-sub-nav-item {
    font-size: 1.0rem;
    color: black;
    text-decoration: none;
}

#project-sub {
    display: none;
}

#wet-lab-sub {
    display: none;
}

#model-sub {
    display: none;
}

#human-practices-sub {
    display: none;
}

#application-sub {
    display: none;
}

#notebook-sub {
    display: none;
}

#team-sub {
    display: none;
}

#breadcrumb-wrapper {
	margin-right: auto;
	margin-left: auto;
	width:80%;
	min-width: 800px;
	max-width: 1024px;
	display:block;
	top:105px;
	position:relative;
}

.breadcrumb {
	position:relative;
}

 /* Style the list */
ul.breadcrumb {
	padding:0px;
    padding-bottom: 10px;
    list-style: none;
    background-color: #FFFFFF;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
} 

/*format the main front page*/
#FrontPage {
	position:relative;
    top: 105px;
	height: calc(100% - 105px);
	/* Opera */
    height: -o-calc(100% - 105px);
    /* Firefox */
    height: -moz-calc(100% - 105px);
    /* WebKit */
    height: -webkit-calc(100% - 105px);
    /* Opera */
    height: -o-calc(100% - 105px);
    /* Standard */
    height: calc(100% - 105px); 
    width: 100%;
    background-color: #FFFFFF;
}

.FrontpageTitle {	
	
}

#ProjectImage {
    height: 100%;
    width: 100%;
}

#ProjectImage img {
    width: 100%;
    height: 100%;
}

/*General formatting for content */
#Center-Text-Column-wrapper {
    position:relative;
    top: 105px;
    clear: both;
    width: 100%;
    display: block;
    margin-top: 0;
    background-color: #FFFFFF;
}

.Center-Text-Column {
    position: relative;
    clear: both;
    width: 80%;
    min-width: 800px;
    max-width: 1024px;
    margin: auto;
}

.Textbox {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 1.0rem;
}

.Textbox-Left {
    width:50%;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 1.0rem;
    float: left;    
}

.Textbox-Right {
    width:50%;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 1.0rem;
    float: right;   
}

.TextContent p {
    text-align: left;
    vertical-align: baseline;
    font-size: 1.0rem;
    font-family: roboto, sans-serif;
	color: #141823;;
    margin-bottom: 1.2rem;
}

.TextContent h1 {
    font-size: 3.125rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;    
	color: #3399ff;
	text-align: left;
}

.TextContent h2 {
	font-size: 2.25rem;
    line-height: 1.6;
    text-align: left;
	color: #141823;;
}

/*Accordion box formatting*/
/*Accordion panel heading text formatting*/
.panel-heading h4 {
	padding-top: .5rem;
	padding-bottom: .17rem;
	margin: 0;
	font-weight: 500;
	line-height: 1.1;
	font-size: 1.25rem;
	overflow:hidden;
	text-align: justify;
	direction: ltr;
}

.Citations li{
	font-size: 0.7rem;
	
}

#Footer {
	top:105px;
	position:relative;
	bottom: 0;
	clear: both;
    text-align: center;
    display: block;
    width: 100%;
    height:48px;
	background-color: #FFFFFF;
}

#Footer p {	
	border-top: 1px solid #aaa;
	margin-top: 32px;
	margin-bottom: 0px;
    vertical-align: baseline;
    font-family: roboto, sans-serif;
    text-align: center;
    line-height: 3rem;
    font-size: 0.7rem;
}

.clearer {
    clear: both;
}

/*All results specific divs*/

/*Set all H types in 'Results' to the correct font size*/

.Results h1 {
  font-size: 3.125rem;
  margin-top:10px;  
  margin-bottom:10px;
  text-align:center;
}

.Results h2 {
  font-size: 2.25rem;
  border-bottom: 1px solid #aaa;
  margin-top:10px;  
  margin-bottom:10px;
}

.Results h3 {
  font-size: 1.75rem;
  margin-top:10px;
}

.Results h4 {
  font-size: 1.25rem;
}

.Results h5 {
  font-size: 1.0rem;
}


.figure-center {
	width:75%;
	margin: 0 auto;
    text-align: center;
}

.figure-bordered-center {
	width:75%;
	margin: 0 auto;
	border: 1px solid #000000;	
}

.figure-center-imagebox {    
	 margin:12px;		
}

.figure-bordered-center-imagebox {
    margin:12px;
    border: 1px solid #000000;			
}

.figure-center-img {
    width:100%;
	display: block;
}

.figure-center-caption {
	margin:12px;
}

.figure-bordered-center-caption {
	margin:12px;
    border: 1px solid #000000;	
}


.bullet-points {
    list-style-position: inside;
}

/*Bootstrap accordion formatting*/
#accordion {
	box-sizing: border-box;
    
}

/*Split page in top 90% and bottom 10% for down arrow*/
#DownArrow {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 94%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
	opacity: 0.5;
	z-index: 999;
}

#UpButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
	font-size:2rem;
}

#UpButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/*Mobile site elements*/
#MobileMenu {
	display:none;
	bottom: 0;
	left: 0;
	width:100%;
	height:100%;
	position:fixed;
	overflow:hidden;
    z-index: 3;
}

#MobileMenu ul {
	overflow:hidden;
	height:100%;
	width:50%;	
    float:left;
}

#MainMobileMenu {
    display:none;
}

#MobileSubMenu {
}

#MobileMenu ul li {	
	height:12.5%;
}

#MobileMenu ul li button{
	height:100%;
	width:100%;
	border: 1px solid black;	
	background:white;
    color:black;
	/*border: 1px solid #141823;;*/
	display: inline;    
	text-align: center;
	font-size:4.0vw;
	cursor:pointer;	
	text-decoration:none;
}

#MobileSubMenu li {	
	display:none;    	
}

#MobileMenu ul li a{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
	height:100%;
	width:100%;
	border: 1px solid black;	
	background:white;
    color:black;
	/*border: 1px solid #141823;;*/    
	text-align: center;
	font-size:4.0vw;
	cursor:pointer;
	text-decoration:none;
}

.MobileIconGlobal {
    display:none;
	position:fixed;
    top: 0;
    cursor:pointer;   
	height:105px;
	z-index:0;
}
	
.MobileIconGlobal  img {
    z-index:999;
    height:100%;
}

.MobileIcon-li-mo img {
    z-index:999;
    height:100%;
	width:auto;
    cursor:pointer;
}

.MobileIconMenu {		
	background-color:white;
	height: 100%;
}

/*Align menu on the left when window is smaller*/
@media (max-width: 1210px) {
    /*whatever appears in the menu at the left either disappears or is now on top of the menu*/
    #TopMenuButtonWrapper {
        position: relative;
        padding-left:16px;
        width: 100%;
        float: right;
    }
		
    .nav-item {
        font-size: 1.2rem;
    }
    #TopMenuButtonWrapper ul li {
        float: left;
    }
    #TopMenuButtonWrapper ul li a {
        padding-right: 16px;
    }
    #SubMenu {
       background: -moz-linear-gradient(left, white, white, white, white, white, #ffdae9, #ffdae9); /* For Firefox 3.6 to 15 */
    }
    #SubMenuButtonWrapper {
        width: 100%;       
        padding-left:16px;
        float: right;
    }
	
	#breadcrumb-wrapper {
		margin-left: 10px;
	}
}

/*Mobile devices*/
@media (max-width: 720px) {
   
	body, html { 
	/*overflow-x:hidden; */
	}
		
	
	/*Hide normal menu*/
	#MainMenu {
		display:none;
	}
	
	/*Do stuff with mobile*/	
	.MobileIconGlobal {
        display:inline;		
	}
		
	.Center-Text-Column {
		width: 90%;
	}
	
    #TopMenuButtonWrapper {
        position: relative;
        padding-left:16px;
        width: 100%;
        float: right;
    }
    
    #TopMenuButtonWrapper ul {
        display:none;
    }
        
    #SubMenu {
       background: -moz-linear-gradient(left, white, white, white, white, white, white, #ffdae9); /* For Firefox 3.6 to 15 */
    }

    #SubMenuButtonWrapper ul {
        display:none;
    }
	
	/*General formatting, making it smaller*/
	.Center-Text-Column {
		min-width: 0px;
	}	
	
	#breadcrumb-wrapper {
		display:none;
	}
	
}

/*when screen is no longer mobile*/
@media (min-width:1210px) {
    /*Turn off mobile again*/
    #MainMenu {
		display:inline;
	}	
	
	.Center-Text-Column {
		width: 80%;
	}

    #MobileMenu {
        display:none;		
	}

    #MainMobileMenu {
        display:none;
	}   
	
	#breadcrumb-wrapper {
		margin-left: auto;
	}
}

